body,
div,
h1,
h2,
h3,
p {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-align: center;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2rlj59');
	src:url('fonts/icomoon.eot?#iefix2rlj59') format('embedded-opentype'),
		url('fonts/icomoon.woff?2rlj59') format('woff'),
		url('fonts/icomoon.ttf?2rlj59') format('truetype'),
		url('fonts/icomoon.svg?2rlj59#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin: auto;
	font-size: 	5em;
	width: 100px;
	color: #fff;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 10px;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {

}

.icon-headphones:before {
	content: "\e600";
}

.icon-download:before {
	content: "\e601";
}
.icon-glass:before {
	content: "\e602";
}
.icon-mug:before {
	content: "\e603";
}
.icon-food:before {
	content: "\e604";
}
.icon-cloud-download:before {
	content: "\e605";
}
.icon-brightness-medium:before {
	content: "\e606";
}

.item-image {
	width: 460px;
	height: 200px;
	border: 4px solid #3498db;
	border-radius: 10px;
	margin-top: 15px;
}

a {
	color: #000;
	text-decoration: none;
}

div.message {
	font-size: 20px;
	margin-top: 15px;
	text-align: center;	
	text-transform: uppercase;
}

div.header{
	width: 100%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

#one {
	background-color: #9b59b6;
}

.item-image:nth-child(1) {
	border-color: #9b59b6;
}

#two {
	background-color: #e74c3c;
}

.item-image:nth-child(2) {
	border-color: #e74c3c;
}

#three {
	background-color: #2ecc71;
}

.item-image:nth-child(3) {
	border-color: #2ecc71;
}

#four {
	background-color: #34495e;
}

.item-image:nth-child(4) {
	border-color: #34495e;
}
#five {
	background-color: #d1404a;
}

.item-image:nth-child(5) {
	border-color: #d1404a;
}